/* trello-card.css */

/* Estilo básico de la tarjeta */
.p-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 16px;
    margin: 8px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  /* .p-card {
    height: 325px; 
    width: 550px;
  } */
  /* Cambio de estilo al pasar el ratón sobre la tarjeta */
  .p-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.12);
  }
  
  /* Estilo para el contenido dentro de la tarjeta */
  /* .p-card-content {
    font-size: 16px;
  } */
  
  /* Estilo para el título de la tarjeta */
  .p-card-title {
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  /* Estilo para el pie de la tarjeta (por ejemplo, botones) */
  /* .p-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
  } */
  
  /* Estilo para el botón de eliminar */
  .p-card-footer .delete-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Cambio de color al pasar el ratón sobre el botón de eliminar */
  .p-card-footer .delete-button:hover {
    background-color: #c0392b;
  }